/*clase para el tamaño de letras, grosor y color */

.lunes-negrita{
    font-weight: 900;
    font-size: 20px;
    color: red;
}

/* clase para el tipo de letra y color */

.lunes-cursiva{
    font-style: italic;
    color: red;
}

/*clase para el tamaño de letras, grosor y color */

.martes-negrita{
    font-weight: 900;
    font-size: 20px;
    color: blue;
}

/* clase para el tipo de letra y color */

.martes-cursiva{
    font-style: italic;
    color: blue;
}

/*clase para el tamaño de letras, grosor y color */

.miercoles-negrita{
    font-weight: 900;
    font-size: 20px;
    color: green;
}


/* clase para el tipo de letra y color */

.miercoles-cursiva{
    font-style: italic;
    color: green;
}

/*clase para el tamaño de letras, grosor y color */

.jueves-negrita{
    font-weight: 900;
    font-size: 20px;
    color: gold;
}


/* clase para el tipo de letra y color */

.jueves-cursiva{
    font-style: italic;
    color: gold;
}

/*clase para el tamaño de letras, grosor y color */

.viernes-negrita{
    font-weight: 900;
    font-size: 20px;
    color:rgb(177, 93, 177);
}


/* clase para el tipo de letra y color */

.viernes-cursiva{
    font-style: italic;
    color: rgb(177, 93, 177);
}


/* clase para el tamaño de letra */

.horarios{
    font-size: 30px;
}

/* clase para el tamaño de letra */

.dias-turnos{
    font-size: 30px;
}


/* clase para el margen de la tabla, sombreado y darle formato */

.tabla-horarios{
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px;
    padding: 20px 15px;
}


/* Tamaño Logo */
.logo{
    width: 200px;
}

/* Color de los links */
.sm-link{
    color: rgb(228, 25, 109);
}

.sm-link.active{
    color: rgb(228, 25, 109);
}


/* Color Inicio */
.navbar-nav .sm-link.active{

    color: rgb(228, 25, 109);
}

.sm-carousel-inner{

    width: 30%;
    margin: 0 auto;
    height: 600px;
    width: 500px;

}


.sm-img-carousel{

    height: 550px;
    width: 200px;
    margin: 0 auto;
}

/* Color del Footer */
.sm-footer{
    color: rgb(228, 25, 109);
}

/* Ponerle color los links de las redes, sacar el subrayado */
.sm-contacto{
    list-style: none;
    text-decoration: none;
    color: rgb(228, 25, 109);
}


/* Video */

.sm-video{

    height: 500px;
    width: 800px;
    margin: auto;

}

/* Imagen de Fondo y color de letra */

.sm-color-fondo{
    background-image: url(/img/Sailor\ Moon\ Fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(228, 25, 109);
}


/* Para el texto centrado */
.sm-descripcion{
    text-align: center;

}